@CHARSET "UTF-8";
#memberId, #noBankBook, #accountTransfer, .orderProducts
{
	display: none;
}

#buyForm
{
	margin-bottom: 50px;
}

.buy-form-div
{
	margin-left: 20%;
	margin-bottom: 30px;
}

fieldset, .personal-infomation-block
{
	width: 70%;
}

legend
{
	border-bottom: 0px;
	font-size: 25px;
}

table
{
	border-top: 3px solid #cecece;
	width: 100%;
}

table th
{
	text-align: center;
}

.table>tbody>tr>td
{
	padding-left: 25px;
}

.table>tbody>tr>td.address-td
{
	padding-left: 15px;
	padding-right: 0px;
}

.table>tbody>tr>td input, .table>tbody>tr>td select, select
{
    margin: 5px;
    border-radius: 4px;
    font-size: 12px;
    line-height: 1.42857143;
    padding: 4px 4px;
    color: #444;
    background-color: #fff;
}

.btn-success
{
	background-color: white;
	color: black;
}

.payment
{
	width: 70%;
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid #c5c7cd;
	background-color: #f4f6fa;
}

.personal-infomation-block textarea
{
	width: 100%;
}