@CHARSET "UTF-8";
a{
	text-decoration: none;
	color: gray;
}
a:HOVER{
	text-decoration: none;
	color: #8748E1;
}
b{
	font-size: 15pt;
}
.main{
	min-height: 600px;
}
#adminTable{
	max-width: 700px;
	font-size: 13pt;
	table-layout: fixed;
}
.table-responsive{
	overflow-x: hidden; 
}
.tdName.title{
	overflow: hidden;
	white-space: nowrap;
	text-overflow : ellipsis;
}
#wrongPwd{
	color: red;
	font-size: 10pt;
}