@CHARSET "UTF-8";
section{
	width:700px;
	border:1px solid gray;
	min-height: 300px;
	max-height: 500px;
}
#title{
font-weight: bold;
border-bottom: 1px solid gray;
padding: 10px;
}
#info{
	font-size: 13px;
	border-bottom: 1px dotted gray;
	padding-top: 15px;
	padding-right: 5px;
	padding-bottom: 10px;
	text-align: right;
}
#content{
	min-height:150px; /*최소 높이 300px*/
	height:auto;/*자동으로 늘어나기*/
	padding: 10px;
}